<!DOCTYPE html>
<head>
    <title> edit page </title>
</head>
<body>
    <h1> edit page </h1>
    <hr/>
    <form method = "post">
    <fieldset>
        <legend>Edit data</legend>
        <table>
            <tr>
                <td><label>TABLE NAME</label></td>
                <td><input type="text" name="tableName" value=""/></td>
            </tr>
            <tr>
                <td><label>KEY</label></td>
                <td><input type="text" name="key" value=""/></td>
            </tr>
            <tr>
                <td><label>VALUE</label></td>
                <td><input type="text" name="value" value=""/></td>

                <!--
                <td><label>id</label></td>
                <td><input type="text" name="id" value="<%= data.id %>" disabled/></td>
            </tr>
            <tr>
                <td><label>name</label></td>
                <td><input type="text" name="name" value="<%= data.name %>"/></td>
            </tr>
            <tr>
                <td><label>model number</label></td>
                <td><input type="text" name="modelnumber" value="<%= data.modelnumber %>"/></td>
            </tr>
            <tr>
                <td><label>series</label></td>
                <td><input type="text" name="series" value="<%= data.series %>" /></td>-->
            </tr>
        </table>
        Click =>
        <input type ="submit"/>
    </fieldset>
    </form>
</body>
</html>